@import "tailwindcss";

@theme {
  /* Primary Colors */
  --color-primary: #4BABF5;

  /* Secondary Colors */
  --color-secondary-light: #4B5563;
  --color-secondary-dark: #1F2A37;

  /* Accent/Interaction */
  --color-accent: #6B7280;

  /* Neutral */
  --color-neutral: #F3F4F6;
  --color-neutral-background: #F3F4F6;
  --color-neutral-offwhite: #FFFFFF;

  /* Text Colors */
  --color-text-primary: #111827;
  --color-text-secondary: #374151;
}

@layer base {
  html, body {
    height: 100%;
  }
}